//! **************************************************************************
// Written by: Map P.20131013 on Wed Aug 31 02:26:16 2016
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "B9" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "D5" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "C6" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "D6" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "B8" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "C8" LEVEL 1;
COMP "PD" LOCATE = SITE "T15" LEVEL 1;
COMP "PN" LOCATE = SITE "T14" LEVEL 1;
COMP "ZA" LOCATE = SITE "U15" LEVEL 1;
COMP "WS" LOCATE = SITE "T16" LEVEL 1;
COMP "VGA_HSYNC" LOCATE = SITE "C11" LEVEL 1;
COMP "RESET" LOCATE = SITE "R13" LEVEL 1;
COMP "VGA_VSYNC" LOCATE = SITE "B11" LEVEL 1;
COMP "CLK_50MHZ" LOCATE = SITE "E12" LEVEL 1;
SCHEMATIC END;

